<div id="<%= dom_id tweet %>">
  <p>
    <strong>Comment:</strong>
    <%= tweet.comment %>
  </p>

  <p>
    <strong>User:</strong>
    <%= tweet.user.email %>
  </p>

  <p>
    <%= render "likes/like_button", likeable: tweet %>
  </p>
</div>
